@import url('./radiobutton.css');

@font-face {
  font-family: 'Georgia';
  src: url('./assets/fonts/georgia.ttf');
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Georgia';
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ecf0f3;
  gap: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  height: 96px;
  border-radius: 16px;
  background: #ecf0f3;
  box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
  font-size: 30px;
}

.meme-slider {
  display: flex;
  width: 900px;
  justify-content: center;
  align-items: center;
}

.carousel-wrapper {
  width: 900px;
  overflow: hidden;
  border-radius: 16px;
  background: #ecf0f3;
  box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
}

.meme__items {
  position: relative;
  display: flex;
  transition: 1s;
}

.meme__items-item {
  width: 900px;
}
.meme__items-item > img {
  width: 900px;
  object-fit: contain;
}

.meme-text-radio {
  width: 1260px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

/* ======MEME TEXT======= */
.text-wrapper {
  width: 920px;
  overflow: hidden;
  height: 96px;
  border-radius: 16px;
  background: #ecf0f3;
  box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
  font-size: 30px;
  padding: 0 20px;
}

.meme-text {
  display: flex;
  gap: 25px;
  position: relative;
  height: 96px;
  transition: 1s;
  align-items: center;
}

.text-item {
  width: 900px;
  text-align: center;
}

.text-item > p {
  width: 880px;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1279px) {
  body {
    gap: 20px;
  }

  .header {
    padding: 0 15px;
    height: 48px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 0px #d1d9e6 inset, -2px -2px 2px 0px #ffffff inset;
  }

  .header > h1 {
    font-size: 20px;
  }

  .meme-slider {
    width: 300px;
  }

  .carousel-wrapper {
    width: 300px;
    border-radius: 8px;
    box-shadow: none;
  }

  .meme__items-item {
    width: 300px;
  }

  .meme__items-item > img {
    width: 300px;
    object-fit: contain;
  }

  .meme-text-radio {
    width: 300px;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }

  /* ======MEME TEXT======= */
  .text-wrapper {
    width: 300px;
    height: 48px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 0px #d1d9e6 inset, -2px -2px 2px 0px #ffffff inset;
    font-size: 12px;
    padding: 0 10px;
  }

  .meme-text {
    height: 48px;
    gap: 20px;
  }

  .text-item {
    width: 300px;
  }

  .text-item > p {
    width: 280px;
  }
}
